/*Some css fixes to use night theme with IPython slides*/
body {
    background-image: linear-gradient(#ffffff, #f7fdff) !important;  
}
.reveal p {

}
.reveal ul, ol {

}
div.output_area pre {

}
div.output_stderr {

}

.reveal table {
   font-size: 22px !important;
}


.jupman-slides-backimg {
    z-index:-1; 
    position:absolute;
    display: block;
    height:50%;
    /*margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;*/
}